<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <div class="navbar">
    <%= image_tag "logo.png", class: "logo" %>
  <nav class="right">
    <button type="button" class="btn"><%= link_to "My Lists", lists_path%></button>
    <button type="button" class="btn"><%= link_to "New list", new_list_path%></button>
  </nav>
</div>
  <body>
    <%= yield %>
  </body>

  <footer class="navbar mt-3" style="background-image: url('<%= image_path "cinema.jpg" %>');"></footer>
</html>
